.mission_seq {
    float: left;
    font-weight: bold;
    padding: 0 5px;
}
.seq_title{
    width: 200px;
    overflow: hidden;
    float: left;
}
.seq_button {
    padding-left: 10px;
    height: 60px;
    padding-top:10px;
    float: right;
}


.webixapp{
	background: #ffd41a;
}

.webixappstart{
    opacity:0;
}

.webixapp{
    transition: opacity 1000ms;
    opacity: 1;
}




.webix_gage_label {
    font-size: 12pt !important;
}

.webix_gage_info {
    font-size: 10pt !important;
}

.webix_gage_placeholder {
    font-size: 10pt !important;
}

.webix_gage-value {
    font-size: 16pt !important;
}

.webix_gage_min_range, .webix_gage_max_range {
    display: none;
}


